<div class="grid-container">
  <h1 class="mat-h1">Panel de Administrador</h1>
  <mat-grid-list cols="2" rowHeight="350px">

    <mat-grid-tile colspan="2" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Administrador
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="ml30">
          <h1></h1>
          <p></p>
          <mat-divider></mat-divider>
          <br>
          <h1>Sus funciones: </h1>
          <ul>
            <li>Gestionar Pais</li>
            <li>Gestionar Ciudad</li>
            
          </ul>
          <mat-divider></mat-divider>
          <br>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>


    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Administrador
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="ml30">
          <h1></h1>
          <p></p>
          <mat-divider></mat-divider>
          <br>
          <h1>Sus funciones: </h1>
          <ul>
            <li>Gestionar Categorias</li>
            <li>Gestionar examenes</li>
          </ul>
          <mat-divider></mat-divider>
          <br>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="2">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Administrador
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="ml30">
          <h1></h1>
          <p></p>
          <mat-divider></mat-divider>
          <br>
          <h1>Sus funciones: </h1>
          <ul>
            <li>Gestionar Categorias</li>
            <li>Gestionar examenes</li>
          </ul>
          <mat-divider></mat-divider>
          <br>
        </mat-card-content>
      </mat-card>

    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Administrador
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="ml30">
          <h1></h1>
          <p></p>
          <mat-divider></mat-divider>
          <br>
          <h1>Sus funciones: </h1>
          <ul>
            <li>Gestionar Categorias</li>
            <li>Gestionar examenes</li>
          </ul>
          <mat-divider></mat-divider>
          <br>
        </mat-card-content>
      </mat-card>

    </mat-grid-tile>


  </mat-grid-list>

</div>